GEMINI_API_KEY=""
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=secret
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""

# Firebase Configuration
FIREBASE_PRIVATE_KEY=""
FIREBASE_CLIENT_EMAIL=""
FIREBASE_PROJECT_ID=""

# InfluxDB Configuration
INFLUXDB_URL="http://localhost:8086"
INFLUXDB_TOKEN="your-influxdb-token"
INFLUXDB_ORG="your-organization"
INFLUXDB_BUCKET="web-vitals"
